In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = ( 
 SparkSession
 .builder
    .master("local[*]")
 .appName('spark_sql')
 .getOrCreate()
)

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
25/06/04 11:58:51 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable
25/06/04 11:58:52 WARN Utils: Service 'SparkUI' could not bind on port 4040. Attempting port 4041.

In [3]:
df = (
    spark
    .read
    .option('delimiter', ';')
    .option('header', 'true')
    .option('inferSchema', 'true')
    .option('enconding', 'ISO-8859-1')
    .csv('./dados/precos-gasolina-etanol-04.csv')
)

In [4]:
df.printSchema()

root
 |-- Regiao - Sigla: string (nullable = true)
 |-- Estado - Sigla: string (nullable = true)
 |-- Municipio: string (nullable = true)
 |-- Revenda: string (nullable = true)
 |-- CNPJ da Revenda: string (nullable = true)
 |-- Nome da Rua: string (nullable = true)
 |-- Numero Rua: string (nullable = true)
 |-- Complemento: string (nullable = true)
 |-- Bairro: string (nullable = true)
 |-- Cep: string (nullable = true)
 |-- Produto: string (nullable = true)
 |-- Data da Coleta: string (nullable = true)
 |-- Valor de Venda: string (nullable = true)
 |-- Valor de Compra: string (nullable = true)
 |-- Unidade de Medida: string (nullable = true)
 |-- Bandeira: string (nullable = true)

In [5]:
df.createOrReplaceTempView('combustiveis')

In [6]:
spark.sql("""
    select * from combustiveis where `Valor de Compra` IS NOT NULL
""").show(5)

+--------------+--------------+---------+-------+---------------+-----------+----------+-----------+------+---+-------+--------------+--------------+---------------+-----------------+--------+
|Regiao - Sigla|Estado - Sigla|Municipio|Revenda|CNPJ da Revenda|Nome da Rua|Numero Rua|Complemento|Bairro|Cep|Produto|Data da Coleta|Valor de Venda|Valor de Compra|Unidade de Medida|Bandeira|
+--------------+--------------+---------+-------+---------------+-----------+----------+-----------+------+---+-------+--------------+--------------+---------------+-----------------+--------+
+--------------+--------------+---------+-------+---------------+-----------+----------+-----------+------+---+-------+--------------+--------------+---------------+-----------------+--------+

In [7]:
view_precos = spark.sql("""
    select 
        `Estado - Sigla`, 
        `Produto`, 
        regexp_replace(`Valor de Venda`, ",", ".") as `Valor de Venda`,
        `Unidade de Medida`
    from combustiveis
""")

In [8]:
view_precos.show(5)

+--------------+--------+--------------+-----------------+
|Estado - Sigla| Produto|Valor de Venda|Unidade de Medida|
+--------------+--------+--------------+-----------------+
|            SP|GASOLINA|          5.65|       R$ / litro|
|            SP|  ETANOL|          3.78|       R$ / litro|
|            BA|GASOLINA|          6.79|       R$ / litro|
|            BA|  ETANOL|          4.89|       R$ / litro|
|            BA|GASOLINA|          6.75|       R$ / litro|
+--------------+--------+--------------+-----------------+
only showing top 5 rows

In [9]:
view_precos.createOrReplaceTempView('view_precos')
view_precos.show(5)

+--------------+--------+--------------+-----------------+
|Estado - Sigla| Produto|Valor de Venda|Unidade de Medida|
+--------------+--------+--------------+-----------------+
|            SP|GASOLINA|          5.65|       R$ / litro|
|            SP|  ETANOL|          3.78|       R$ / litro|
|            BA|GASOLINA|          6.79|       R$ / litro|
|            BA|  ETANOL|          4.89|       R$ / litro|
|            BA|GASOLINA|          6.75|       R$ / litro|
+--------------+--------+--------------+-----------------+
only showing top 5 rows

In [12]:
df_diferenca_precos = spark.sql("""
    SELECT
        `Estado - Sigla`,
        `Produto`,
        `Unidade de Medida`,
        MIN(CAST(`Valor de Venda` AS DOUBLE)) AS menor_valor,
        MAX(CAST(`Valor de Venda` AS DOUBLE)) AS maior_valor,
        MAX(CAST(`Valor de Venda` AS DOUBLE)) - MIN(CAST(`Valor de Venda` AS DOUBLE)) AS diferenca
    FROM view_precos
    GROUP BY ALL
    ORDER BY diferenca DESC
""")

In [13]:
df_diferenca_precos.show(5)

+--------------+------------------+-----------------+-----------+-----------+------------------+
|Estado - Sigla|           Produto|Unidade de Medida|menor_valor|maior_valor|         diferenca|
+--------------+------------------+-----------------+-----------+-----------+------------------+
|            SP|GASOLINA ADITIVADA|       R$ / litro|       5.19|       8.99|               3.8|
|            SP|          GASOLINA|       R$ / litro|       5.19|       8.99|               3.8|
|            SP|            ETANOL|       R$ / litro|       3.38|       6.27|2.8899999999999997|
|            PE|            ETANOL|       R$ / litro|       3.99|       6.49|               2.5|
|            RJ|          GASOLINA|       R$ / litro|       5.46|       7.79|              2.33|
+--------------+------------------+-----------------+-----------+-----------+------------------+
only showing top 5 rows